<!-- Modal container -->
<div id="edit-stuff-container" class="modal-container">
    <!-- Modal content -->
    <div class="modal-content small-modal">
      <!-- Modal header -->
      <div class="modal-header">
        <h2>Edit Position</h2>
        <button class="close-modal" id="close-modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" hx-post="{% url 'app:change_position' object.uid %}" hx-redirect="{% url 'app:staff_profile' object.uid %}" hx-target="body" hx-swap="innerHTML">
            {% csrf_token %}
            <div class="one_col">
                <label for="type">New Position</label>
                {{form.position}}
            </div>
            
            <div class="one_col">
                <input type="submit" value="Save">
            </div>
            
        </form>
      </div>
    </div>
  </div>