{% extends 'forms/main.html' %}
{% load static %}
{% block title %}Add Staff{% endblock %}

{% block content %}
<div id="add-task-container" class="flex fixed bg-gray-400 justify-center left-0 right-0 w-full h-full">
    <!-- Modal content -->
    <!-- <div class="modal-content"> -->
    <div class="bg-[#bfe5f98a] w-full md:w-[40%] p-6 rounded overflow-y-auto h-[90%] md:max-h-[400px] m-auto">
      <div class="modal-header">
        <h2>New Service</h2>
        <a href="{% url 'app:services' %}" class="close-modal" id="close-modal">&times;</a>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" >
            {% csrf_token %}
            <div class="one_col">
                <label for="vehicle">Vehicle</label>
                {{form.vehicle}}
            </div>
            <div class="two_col">
                <div class="one_col">
                    <label for="service_date">Service date</label>
                    <input type="date" id="service_date" name="service_date">
                </div>
                
                <div class="one_col">
                    <label for="next_service_date">Next Servive date</label>
                    <input type="date" id="next_service_date" name="next_service_date">
                </div>
            </div>
            <div class="two_col">
                <div class="one_col">
                    <label for="overnaul_date">Overhaul date</label>
                    <input type="date" id="overnaul_date" name="overnaul_date">
                </div>
                
                <div class="one_col">
                    <label for="next_overnaul_date">Next Overhaul date</label>
                    <input type="date" id="next_overnaul_date" name="next_overnaul_date">
                </div>
            </div>
            <!-- <div class="one_col">
                <label for="description">Description</label>
                <input type="text" id="description" name="description">
            </div> -->
            <div class="two_col">
                <div class="one_col">
                    <label for="type">Type</label>
                    {{form.type}}
                </div>
                <div class="one_col">
                    <label for="cost">Cost</label>
                    <input type="number" id="cost" name="cost">
                </div>
            </div>
            
            <div class="one_col">
                <label for="scheduled">Scheduled</label>
                {{form.scheduled}}
            </div>
            
            
            <div class="one_col">
                <input type="submit" value="Save">
            </div>
            
        </form>
      </div>
    </div>
  </div>
{% endblock  %}