<!-- Modal container -->
<div id="edit-stuff-container" class="modal-container">
    <!-- Modal content -->
    <div class="modal-content small-modal">
      <!-- Modal header -->
      <div class="modal-header">
        <h2>Edit Name</h2>
        <button class="close-modal" id="close-modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" hx-post="{% url 'app:change_staff_name' object.uid %}" hx-redirect="{% url 'app:staff_profile' object.uid %}" hx-target="body" hx-swap="innerHTML">
            {% csrf_token %}
        <!-- <form hx-redirect="index.html"> -->
            <div class="one_col">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{object.name}}">
            </div>
            
            <div class="one_col">
                <input type="submit" value="Save">
            </div>
            
        </form>
      </div>
    </div>
  </div>