{% load static %}
{% block header %}

<header class="flex justify-between py-4 pl-4 pr-8 bg-white roubded">
    <div class="flex gap-4 items-center">
        <span class="lg:hidden cursor-pointer text-gray-400"
        id="menu-show"
        onclick="menueToggle()">
            <i class="fas fa-bars"></i>
        </span>
        <span class="hidden lg:block font-bold text-lg">
            Hello, welcome back
        </span>
        <span class="hidden lg:block text-gray-400">
            >>> {% now "jS F Y" %}
        </span>
    </div>
    <div class="flex gap-4 items-center">
        <span class="text-blue-700">
            <i class="fas fa-bell"></i>
        </span>
       
    </div>
</header>
{% endblock  %}