
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'meta.html' %}
    {% include 'css.html' %}
    {% include 'js.html' %}
    <title>{% block title %}{% endblock %}</title>
    
</head>

<body>
    <main class="grid lg:grid-cols-5 bg-[#f1f5f78a]">
        {% comment %} {% if request.user.is_superuser %}
        {% include 'nav.html' %}
        {%else%}
        {% include 'nav.html' %}
        {% endif %} {% endcomment %}
        {% include 'nav.html' %}
        <section class="flex flex-col gap-6 col-span-4 m-4 max-h-screen overflow-y-auto" id="main_body">
            {% include 'header.html' %}
            {% block content %}

            {% endblock  %}
            {% comment %} {% include 'footer.html' %} {% endcomment %}
            
        </section>
    </main>
    
</body>

</html>